.button {
    padding: 1rem 4rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
  }
  
  button:hover {
    opacity: 0.8;  
  }
  
  button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
  }
  
  
  .button:disabled {
    cursor: not-allowed;
  }
  
  .button.active {
    background: #0056b3;
    color: #fff;
  }


  