@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;700&family=Titillium+Web&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

main {
  max-width: 850px;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 2rem;
}

h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.header {
  height: 50px;
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  background: #fafafa;
  margin-bottom: 1em;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  font-weight: 600;
  color: #555555;
}

input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 6px;
}

input:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-bottom: 1em;
}

.input-wrapper {
  width: 100%;
  margin-bottom: 1em;
}

.radio-group {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  border-radius: 6px;
}

.radio-group label {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.radio-group-wrapper {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
  text-align: left;
  width: 100%;
}

.menu {
  margin-bottom: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.button {
  padding: 1rem 4rem;
  background: #0056b3;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.button:hover {
  opacity: 0.8;  
}

.button-client {
  padding: 1rem 4rem;
  background: #2c6fb6;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  width: 200px;
  margin-right: 1rem;
}

.client-list {
  margin-bottom: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-delete {
  padding: 0.5rem 1rem;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.msg {
  padding: 10px;
  margin-top: 15px;
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 4px;
  color: #495057;
  font-size: 0.9em;
  text-align: center;
}
